bin/
obj/
out/
nupkg/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.tlog
*.cache
*.pdb
*.vspscc
*.vsp
*.bak
*.ncb
*.ilk
*.sdf

.vs/
.vscode/

*.nupkg
*.snupkg
packages/
.nuget/

project.lock.json
project.assets.json
PackageRestoreApproved/ 

.idea/
*.sln.iml

secrets.json

publish/

*.jsonl